:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

ul {
    list-style: none;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
}