<header>
    <img src="../../assets/img/Logo.svg" alt="Logo">

    @if (!editMode) {
        <div class="board_info">
            <h1>{{board.name}}</h1>
            <h3>{{board.description}}</h3>
        </div>
        <button (click)="showEditBoard()">
            <img src="../../assets/img/Edit_duotone.svg" alt="Edit">
        </button>
    } 
    
    @else {
        <form [formGroup]="formEditBoard" class="board_info">
            <input formControlName="name" class="board_name" type="text" placeholder="Board name" autofocus>
            <input formControlName="description" class="board_description" type="text" placeholder="Board description">
        </form>
        <div class="actions_btns">
            <button class="form_button" [disabled]="formEditBoard.invalid" (click)="editBoard()">
                <img class="done" src="../../assets/img/Done_round.svg" alt="Accept">
            </button>
            <button class="form_button" (click)="cancelEditBoard()">
                <img class="cancel" src="../../assets/img/close_ring_duotone.svg" alt="Cancel">
            </button>
        </div>
    }
</header>