<form>
    <label for="name">Task name</label>
    <input type="text" name="name" placeholder="Enter the task name">

    <label for="description">Description</label>
    <input type="text" name="description" placeholder="Enter a short description">

    <label>Icon</label>
    <ul>
        <li>👨‍💻</li>
        <li>💭</li>
        <li>☕</li>
        <li>🏋️‍♀️</li>
        <li>📚</li>
        <li>⏰</li>
    </ul>

    <label>Status</label>
    <button class="status_button">
        <img class="img_status_progress" src="../../assets/img/Time_atack_duotone.svg" alt="">
        In Progress
    </button>

    <button class="status_button">
        <img class="img_status_done" src="../../assets/img/Done_round.svg" alt="">
        Completed
    </button>

    <button class="status_button">
        <img class="img_status_wont" src="../../assets/img/close_ring_duotone.svg" alt="">
        Won't do
    </button>
</form>